/* Image and Title ------------------------------------------------------------------ */
#album-info {
    margin-top: 15vh;
    margin-bottom: 15vh;
}

.imageAndInfo {
    width: 75vw;
    margin: auto;
    padding: 20px;
    background-image: radial-gradient(circle, transparent 50%, black),
        url(./../../../data/images/albumBackground.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

#album-cover-art {
    margin: auto;
    width: 50vw;
    box-shadow: 0px 10px 15px 0px black;
}

/* List of Songs -------------------------------------------------------------------- */

#song-list {
    font-size: 1.5rem;
    width: 75vw;
    margin: auto;
    padding: 25px 0px;
    background: radial-gradient(circle, rgb(88, 88, 88), rgb(0, 0, 0));
} 