/* Top of the screen Links ------------------------------------------- */

.screen-links {
    position: fixed;
    top: 0;
    width: 100%;
    min-height: 3rem;
    background-color: black;
}

.screen-links img {
    margin-top: 1rem;
    height: 3rem;
}

.home-link, .library-link {
    font-size: 2rem;
    padding: 1rem 5vw;
    background-color: rgb(24, 24, 24);
    border-radius: 0px 0px 5px 5px;
    text-decoration: none;
}

.home-link {
    float: left;
}

.library-link {
    float: right;
}