
.player-bar {
    position: fixed;
    bottom: 0;
    width: 100%;
    background: linear-gradient(90deg, black, rgb(47, 47, 47), black);
    overflow: hidden;
    height: 70px;
}

/* Buttons ----------------------------------------------------------------------------- */

#buttons {
    margin-top: 15px;
}

#previous {
    font-size: 2rem;
    margin-right: 5vw;
    margin-left: auto;
    box-shadow: 0px 5px 15px 0px black;
}

#play-pause {
    font-size: 2rem;
    box-shadow: 0px 5px 15px 0px black;
}

#next {
    font-size: 2rem;
    margin-left: 5vw;
    box-shadow: 0px 5px 15px 0px black;
}

/* Time controls --------------------------------------------------------------- */

#time-control {
    margin: 10px 0px;
}

.current-time {
    display: inline-block;
    margin-right: 3vw;
    font-size: 2rem;
}

.seek-bar-time {
    display: inline-block;
}

.total-time {
    display: inline-block;
    margin-left: 3vw;
    font-size: 2rem;
}

/* Small Screen Time ------------------------- */

#small-screen-time {
    float: left;
    margin-left: 5vw;
}

#small-screen-time div:nth-child(even) {
    border-top: solid white 1px;
}

/* Volume controls ---------------------------------------------------------------- */

#volume-control {
    font-size: 2.5rem;
    border-top: solid white 1px;
}

#volume-down {
    display: inline-block;
    margin-right: 5vw;
}

#volume-up {
    display: inline-block;
    margin-left: 5vw;
}

/* Small Screen Volume ------------------------- */

#small-screen-volume {
    float: right;
    font-size: 2rem;
    margin-right: 5vw;
}

/* Hide Text -------------------------------------------------------------------------- */

.hide {
    display: block;
    font-size: 1.5rem;
    margin: 1rem 0px;
}

/* Media Queries ---------------------------------------------------------------------- */

@media (min-width: 1000px) {
    #small-screen-time,
    #small-screen-volume,
    .hide {
        display: none;
    }

    #buttons {
        display: inline-block;
    }

    /* Time Controls --------------- */

    #time-control {
        font-size: 1rem;
        float: left;
        margin-left: 5vw;
    }

    /* Volume Controls -------------- */

    #volume-control {
        float: right;
        border: none;
        margin-right: 5vw;
    }
}